version: '3.4'

services:
  db:
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rygg
      POSTGRES_USER: rygg
      POSTGRES_PASSWORD: rygg

  rygg:
    image: {{ docker_registry_url }}/rygg:{{ docker_tag }}
    environment:
      FRONTEND_BASE_URL: http://{{ inventory_hostname }}:8080
      DJANGO_DATABASE: postgres
      DB_NAME: rygg
      DB_HOST: db
      DB_USER: rygg
      DB_PASS: rygg
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    image: {{ docker_registry_url }}/frontend:{{ docker_tag }}
    ports:
      - "8080:8080"
    depends_on:
      - rygg
      - kernel
    environment:
      PL_KERNEL_URL: ws://{{ inventory_hostname }}:5000
      PL_FILESERVER_URL: http://{{ inventory_hostname }}:8011
      PL_RYGG_URL: http://{{ inventory_hostname }}:8000

  kernel:
    image: {{ docker_registry_url }}/kernel:{{ docker_tag }}
    volumes:
      - ./plabs:/perceptilabs/Documents/Perceptilabs
    ports:
      - "5000:5000"
      - "8011:8011"

    environment:
      HOME: /perceptilabs
      PL_FILE_SERVING_TOKEN: thetoken
      PL_TUTORIALS_DATA: /opt/app-root/src/perceptilabs/tutorial_data
      FRONTEND_BASE_URL: http://{{ inventory_hostname }}:8080
